@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<a button type="button" class="btn btn-primary" asp-area="" asp-page="/Create">
    <i class="bi bi-plus"></i>
    New Record
</a>


<table id="records" class="table mt-5">
    <thead>
    <tr>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Duration</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var record in Model.Records)
    {
        <tr class="list-row">
            <td>@record.Date</td>
            <td>@record.StartTime</td>
            <td>@record.EndTime</td>
            <td>@record.Duration</td>
            <td>
                <a button type="button" class="btn btn-primary" asp-page="./Update" asp-route-id="@record.Id">
                    <i class="bi bi-pen"></i>
                </a>
                <a button type="button" class="btn btn-danger" asp-page="./Delete" asp-route-id="@record.Id">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>